.footer_class {
    background:#C0C0C0;
    box-shadow: 5px 10px #888888;
    height :80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position :sticky;
    z-index : 999;

}